<div class="navbar-minimalist">
    <%= link_to 'My lists', lists_path, class: "btn btn-primary" %>
    <%= link_to 'Add list', new_list_path, class: "btn btn-primary" %>
</div>

<div class="banner">
    <div class="container">
      <h1>Save any kind of movies</h1>
    </div>
</div>

<div class="container">
  <h1>My Lists</h1>

  <div class="cards ">
    <% @lists.each do |list| %>
      <div class="card">
        <img class=img src="https://images.unsplash.com/photo-1568876694728-451bbf694b83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80">
        <h3>
          <%= link_to list.name, list_path(list.id) %>
        </h3>
      </div>
    <% end %>
  </div>

</div>

<div class="footer">
  <p>Folow us:</p>
  <div class="links">
    <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
  </div>
</div>
